.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
  background-color: white;
  padding: 0 10rem;
}

.nav-item-search,
.nav-item-history {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--color-turqoise);
  cursor: pointer;
  transform: rotate(0);
}

.nav-item:hover {
  color: var(--color-lila);
}

.nav-item-icon {
  width: 3.5rem;
  height: 3.5rem;
}

@media screen and (max-width: 420px) {
  .navbar {
    padding: 0 2rem;
  }
}
